.home {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1em;
}

.home button {
    padding: .75em 2em;
    font-weight: bold;
    border: none;
    border-radius: 8em;
    color: white;
    background-color: #333333;
}